<div class="center jumbotron">
  <h1>Willkommen zum neuen BKS Anmeldetool!</h1>
  <h2>
    Finden Sie die Portalseite unter <a href="https://portal.bks-campus.ch">
      portal.bks-campus.ch</a>.
  </h2>

  <%= link_to "Jetzt Anmelden", studentenl_path, class: "btn btn-lg btn-primary" %>
</div>
