Hallo <%= @student.Name %>,

Hier sind deine Login daten für den Anmeldetool MA19:

Benutzername: <%= @student.Number %>,
Passwort:     <%= @student.Code %>

Melde dich hier an: <a href="athene.bks-campus.ch">athene.bks-campus.ch</a>.
Bei Fragen und Problemen stehe ich gerne zur Verfügung
<a href="mailto:s9362@bks-campus.ch">Mail an Edward Lancaster schreiben</a>
