<div class="center jumbotron">
  <h3>Mails</h3>
  <br />
  <div>
    <%= link_to "Login daten versenden", admin_send_login_path, class: "btn btn-primary", data: { toggle: "modal" } %>
    <%= link_to "Mahnungen versenden", admin_send_remind_path, class: "btn btn-primary" %>
    <%= link_to "Anmeldungsliste versenden", admin_send_list_path, class: "btn btn-primary" %>
  </div>
</div>
