<% provide(:title, "Datenbank zurücksetzen") %>
<h1>Warnung!</h1>
  <p>Diese Aktion entleert die Datenbank, alle hinzugefügten Nutzer und
    Präsentationen werden gelöscht.</p>
<%= link_to "Datenbank löschen", admin_confirm_path, class: "btn btn-danger" %>
