<% provide(:title, "Admin Upload") %>
<div class="center jumbotron">
  <h3>Willkommen zum Admin Upload Zentrum</h3>
  <br />
<h4>Dateien Hochladen</h4>
<div>
  <%= link_to "Presentationsliste hochladen", admin_add_presentations_path, class: "btn btn-secondary" %>
  <%= link_to "Schülerliste hochladen", admin_add_students_path, class: "btn btn-secondary" %>
</div>
