<% provide(:title, "CSV Hochladen") %>
<div class="center jumbotron">
  <h4>Import Presentation Data</h4>
    <%= form_tag import_presentations_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV", class: "btn btn-primary" %>
    <% end  %>
</div>
