<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Fach</th>
      <th scope="col">Betreuer</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
      <th scope="col">Freie<br />Plätze</th>
    </tr>
  </thead>
  <tbody>
    <%= @presentations.each do |pres| %>
      <th scope="row">1</th>
      <td>Stuff</td>
      <tr>
        <td scope="row"><%= pres.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
