<% provide(:title, "CSV Hochladen") %>
<div class="center jumbotron">
  <h4>Import Student Data</h4>
    <%= form_tag import_schuelers_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end  %>
</div>
