Guten Tag <% @student.Name %>,<br />
Wir haben bemerkt, dass du dich noch nicht für die Maturavorträge angemeldet
hast.<br />Hier sind deine Login Details, bitte registriere dich sobald wie
möglich.<br />
Benutzername: <% @student.Name %><br />
Passwort:     <% @student.Code %><br />
Du kannst dich unter <a href="https://athene.bks-campus.ch">athene.bks-campus.ch</a> anmelden.<br/><br />

<i>I am a bot, please do not reply</i>
