
Hallo <%= @student.Vorname %>,

Hier sind deine login Details für die Elektronische Anmeldung fuer die Selbstaendigen Arbeiten 
von 2019: <br />

Benutzername: <%= @student.Number %><br/>
Passwort:     <%= @student.Code %><br/>

Melde dich hier an: <a href="https://athene.bks-campus.ch">athene.bks-campus.ch</a><br />

<i>I am a bot, please do not reply</i>
