
Hallo <%= @student.Vorname %>,

Hier sind deine login details für die Elektronische Anmeldung der Maturapresentationen
von 2018: <br />

Benutzername: <%= @student.Number %><br/>
Passwort:     <%= @student.Code %><br/>

Melde dich hier an: <a href="https://athene.bks-campus.ch">athene.bks-campus.ch</a>
