<footer class="footer">
  <small>
    BKS Anmeldetool  /  Entwickelt von Edward Lancaster MA18
  </small>
  <nav>
    <ul>
      <li><%= link_to "Impressum",     impressum_path %></li>
      <li><%= link_to "Kontakt",       kontakt_path %></li>
      <li><%= link_to "Anmelden",      '#' %></li>
      <li><%= link_to "Admin Bereich", anmeldung_path %></li>
    </ul>
  </nav>
</footer>
